@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

/* Global */

html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

body {
  font-family: "Bebas Neue", cursive;
}

/* nav bar */

#nav {
  height: 100px;
}

.nav-wrapper {
  background-color: #8ca1a5;
}

#nav-link a,
#mobile-demo a {
  margin-top: 10px;
  font-size: 200%;
}

#home-text {
  font-size: 350% !important;
  margin-top: 10px;
  margin-left: 20px;
}

/* home image  */

#box {
    background-image: url("home-img.jpg");
    height: 700px;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;
    text-align: center;
  }
  
  .centered {
    color: white;
    font-size: 1000%;
    text-decoration: underline;
    overflow: hidden;
  }
  
  .waves-effect {
    top: 50px;
    color: white;
    font-size: 300%;
    background-color: #8ca1a5;
  }
  
  .waves-effect:hover {
    background-color: white;
    color: #8ca1a5;
  }

  /* About Content  */

#middle {
    text-align: center;
    margin-bottom: 100px;
  }
  
  #middle h3 {
    text-decoration: underline;
    margin-bottom: 50px;
    margin-top: 50px;
  }
  
  #middle i {
    font-size: 250%;
  }
  
  #middle p {
    margin-top: 50px;
    font-size: 200%;
    margin-left: 30px;
    margin-right: 30px;
  }
  
  #middle hr {
    width: 900px;
  }

/* reviews */

#reviews {
    text-align: center;
    height: 620px;
    background-color: #8ca1a5;
    overflow: hidden;
  }
  
  #reviews h1 {
    text-decoration: underline;
  }
  
  .col h2 {
    text-decoration: underline;
  }
  
  #main_carousel {
    height: 600px !important;
  }
  
  #reviews p {
    font-size: 150%;
  }
  
  #review_img {
    height: 300px !important;
    width: 300px !important;
    border-radius: 50%;
    margin-top: 50px;
  }

  /* socials */

#socials {
  text-align: center;
  height: 250px;
}

#socials i {
  font-size: 300%;
  padding: 20px;
  color: black;
}

  
