@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

/* Global */

html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

body {
  font-family: "Bebas Neue", cursive;
}

/* nav bar */

#nav {
  height: 100px;
}

.nav-wrapper {
  background-color: #8ca1a5;
}

#nav-link a,
#mobile-demo a {
  margin-top: 10px;
  font-size: 200%;
}

#home-text {
  font-size: 350% !important;
  margin-top: 10px;
  margin-left: 20px;
}