@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

/* Global */


html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden !important;
}

body {
  font-family: "Bebas Neue", cursive;
}


/* Nav Bar */


#nav {
  height: 100px;
}

.nav-wrapper {
  background-color: #8ca1a5;
}

#nav-link a,
#mobile-demo a {
  margin-top: 10px;
  font-size: 200%;
}

#home-text {
  font-size: 350% !important;
  margin-top: 10px;
  margin-left: 20px;
}


/* Home Image Area  */


#box {
  background-image: url('/static/img/home-img.jpg');
  height: 700px;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;
  text-align: center;
}

.centered {
  color: white;
  font-size: 1000%;
  text-decoration: underline;
  overflow: hidden;
}

#btn-home, #btn-home2 {
  top: 50px;
  color: white;
  font-size: 300%;
  background-color: #8ca1a5;
}

#btn-home:hover, #btn-home2:hover {
  background-color: white;
  color: #8ca1a5;
}


/* About Content  */


#middle {
  text-align: center;
  margin-bottom: 100px;
}

#middle h3 {
  text-decoration: underline;
  margin-bottom: 50px;
  margin-top: 50px;
}

#middle i {
  font-size: 250%;
}

#middle p {
  margin-top: 50px;
  font-size: 200%;
  margin-left: 30px;
  margin-right: 30px;
}

#middle hr {
  width: 900px;
}


/* Reviews */


#reviews {
  text-align: center;
  height: 800px !important;
  background-color: #8ca1a5;
  overflow: hidden;
}

#reviews h1 {
  text-decoration: underline;
}

.col h2 {
  text-decoration: underline;
}

#main_carousel {
  height: 600px !important;
}

#reviews p {
  font-size: 150%;
}

#review_img {
  height: 300px !important;
  width: 300px !important;
  border-radius: 50%;
}

.review-statement {
  padding-left: 50px;
  padding-right: 50px;
}

/* socials */


#socials {
  text-align: center;
  height: 250px;
}

#socials i {
  font-size: 300%;
  padding: 20px;
  color: black;
}


/* Workout Area Content List Page */


#workout-area {
  height: 1700px; 
  text-align: center;
  overflow: hidden;
}

#workout-area img {
  height: 500px !important;
}


#socials2 {
  overflow: hidden;
  clear: both;
  color: black;
  background-color: #8ca1a5;
  text-align: center;
  height: 250px;
}

#socials2 h1 {
  padding-top: 20px;
}

#socials2 i {
  font-size: 300%;
  padding: 20px;
  color: black;
}


.action-btn {
  font-size: 150%;
  color:  #8ca1a5;
}

.action-btn:hover {
  color: goldenrod;
}


/* Content Detail Page */


#content-detail-section {
  height: 1500px !important;
  padding-left: 10px;
}

#content-detail-section img {
  margin-top: 5px;
  margin-left: 20px;
  height: 400px !important;
  width: 400px !important;
}

.detail-header {
  text-align: center;
}

#content-area {
  padding-left: 30px !important;
  padding-right: 30px !important;
}

#content-content {
  clear: both;
  text-align: center;
}

.fa-comments {
  padding: 20px;
  font-size: 200%;
}

#comment-center {
  display: flex;
  justify-content: flex-start
  
}


#comment-text-head {
  padding-left: 30px;
  text-decoration: underline;
}

#comment-main {
  background-color: #B4C6A6;
  width: 500px;
  height: 550px;
  border-radius: 5%;
}

.comment-header {
  padding-left:  20px;
  text-decoration: underline;
}

.comment-area {
  padding-left: 20px;
}

.comment-line {
  margin-left: 0;
  width: 80px;
  text-decoration: solid black;
}

#comment-row {
  margin: 0;
  padding-left: 20px;
}

/* Booking Page */

#book-head {
  text-align: center;
}

.form-book {
  width: 500px;
  height: 500px;
}

#appointment-area {
  display: flex;
  justify-content: center;
}


/* Success Page */

#success {
  text-align: center;
  height: 600px;
}

#tick {
   color: green;
}

/* Already Booked Page */

#booked {
  text-align: center;
  height: 600px;
}

#cross {
  color: red;
}

/* Responsive Styles */


@media screen and (max-width: 1000px) {
  #workout-area {
    height: 2300px;
  }
  #content-info {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media screen and (max-width: 800px) {
  #content-detail-section {
    height: 1200px;
  }
  iframe {
    height: 400px;
    width: 400px;
  }
}

@media screen and (max-width: 600px) {
  .centered {
    font-size: 600%;
  }
  #home-text {
    font-size: 250% !important;
  }
  #main_carousel,
  #reviews {
    height: 850px !important;
  }
  #workout-area {
    height: 4500px;
  }
  #content-info {
    padding-left: 10px;
    padding-right: 10px;
  }

}

@media screen and (max-width: 480px) {
  #content-detail-section {
    height: 1280px;
  }
  iframe {
    height: 300px;
    width: 300px;
  }
}
