{% extends "base.html" %} {% block content %} {% load static %} 
{% if user.is_authenticated %}
<!-- Appointment Booking Page -->

    <h1 id="book-head">Book Your 1-2-1 Session</h1>
    <div id="appointment-area">
      <form class="form-book" method="POST" id="datetimepicker1">
        {% csrf_token %}
        <label for="id_name">Name</label>
        <input
          type="text"
          name="name"
          id="id_name"
          required
        />
        <label for="id_email">Email</label>
        <input
          type="email"
          id="id_email"
          name="email"
          required
        />
        <label for="id_start_date">Start Date & Time</label>
        <input
          type="text"
          name="start_date"
          id="id_start_date"
          placeholder="Select Date & Time"
          class="datetime"
          required
        />
        <label for="id_end_date">End Date & Time</label>
        <input
          type="text"
          name="end_date"
          id="id_end_date"
          placeholder="Select Date & Time"
          class="datepicker datetime2"
          required
        />
        <button class="btn btn-signup red green" type="submit" aria-label="submit-book">Book</button>
      </form>
    </div>
    {% else %}
    <h1>Please Log In</h1>
    {% endif %} {% endblock content %}
