{% extends "base.html" %}

{% block content %}
{% load static %}

    {% if user.is_authenticated %}
    <!-- Work Out Content Area -->
    <section id="content-detail-section">
      <div class="left"><img src=" {{ post.featured_image.url }}"></div>
      <h1 class="detail-header">{{ post.title }}</h1>
      <h4 class="detail-header">{{ post.author }} | {{ post.created_on }}</h4>      
      <div id="content-area">
        <p id="content-content">{{ post.content | safe }}</p> 
      </div>
      <div id="comment-center"> 
        <div id="comment-main">
          <h2 class="comment-header">Comments</h2>
          {% with comments.count as total_comments %}
          <strong ><i class="far fa-comments"></i>
              {{ total_comments }}</strong>
          {% endwith %}
          <div class="comment-area">
            {% for comment in comments %}
            <h4>{{ comment.name }}</h4>
            <h6>{{ comment.created_on }}</h6>
            <h6>{{ comment.body | linebreaks }}</h6>
            <hr class="comment-line">
            {% endfor %}
          </div>
        </div>
        <div id="comment-text-area-section">
          <h2 id="comment-text-head">Leave A Comment</h2>
          <div id="comment-row" class="row">
            <form class="col s12">
              <div class="row">
                <div class="input-field col s12">
                  <textarea id="textarea1" class="materialize-textarea"></textarea>
                  <label for="textarea1">Textarea</label>
                  <button>Post</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
    {% else %}
    <h1>Please Log In</h1>
    {% endif %}

{% endblock content %}
