{% extends "base.html" %} {% block content %} {% load static %}

<!-- Inital Home Display With Fitness Info -->
<section id="box">
  <h1 class="centered">TOMORROW IS NOW</h1>
  {% if user.is_authenticated %}
  <a
    href="{% url 'content' %}"
    class="waves-effect waves-light btn-large"
    id="btn-home"
    aria-label="work-outs-page"
    ><i class="material-icons right"></i>Workouts</a
  >
  {% else %}
  <a
    href="{% url 'account_signup' %}"
    class="waves-effect waves-light btn-large"
    id="btn-home2"
    aria-label="sign-up-page"
    ><i class="material-icons right"></i>Sign Up</a
  >
  {% endif %}
</section>
<section id="middle">
  <h1>Your Online Fitness Journey Starts Here</h1>
  <h3>What We Offer</h3>
  <div class="row">
    <div class="col s12 m4">
      <i class="fas fa-dumbbell"></i>
      <h5>Free Online Video Tutorials</h5>
    </div>
    <div class="col s12 m4">
      <i class="fas fa-check-square"></i>
      <h5>Content From Qualified Personal Trainers</h5>
    </div>
    <div class="col s12 m4">
      <i class="fas fa-calendar-week"></i>
      <h5>Book 1-2-1 Virtual PT Sessions</h5>
    </div>
  </div>
  <br />
  <hr />
  <br />
  <p>
    Engage fitness unlocks the resources you need to lose fat, tone up, increase
    fitness, gain strength and lead a healthier, happier lifestyle. Burn
    calories at home with online exercise classes like HIIT, Abs, Combat, Dance
    (similar to Zumba), Indoor Spin Cycling, Yoga and Pilates.
  </p>
</section>
<!-- Client Reviews Area -->
<section id="reviews">
  <h1>Client Reviews</h1>
  <div id="main_carousel" class="carousel carousel-slider center">
    <div class="carousel-fixed-item center"></div>
    <div class="carousel-item" id="carousel-container" href="#one!">
      <div class="row">
        <div class="col">
          <img
            src="{% static 'img/first_review.jpg' %}"
            id="review_img"
            alt="first_review_client_photo"
          />
          <h2>Ben</h2>
          <p class="review-statement">
            Engage Fitness goes above and beyond in understanding your fitness
            goals and tailoring your program. They always make the workout
            challenging but fun. They lots of experience and expertise in the
            industry as well as a passion for helping people get fit and
            healthy. I have been training with Engage Fitness for 2 months and
            he has given me great confidence and consistency. I’m delighted with
            the results and looking forward to every session.
          </p>
        </div>
      </div>
    </div>
    <div class="carousel-item" href="#three!">
      <div class="row">
        <div class="col">
          <img
            src="{% static 'img/third_review.jpg' %}"
            id="review_img"
            alt="third_review_client_photo"
          />
          <h2>Ian</h2>
          <p class="review-statement">
            It is always a pleasure training with engage fitness Its been my
            motivation for the past 3 months and it goes above and beyond for my
            fitness needs! My work schedule is ever-changing, so this suits my
            perfectly. I would always recommend engage fitness for reaching your
            fitness goals. I was able to get back on track and exceed mine. I
            also referred them to various friends and work colleagues for
            training. They all had a positive experience and gave great
            feedback.
          </p>
        </div>
      </div>
    </div>
    <div class="carousel-item" href="#four!">
      <div class="row">
        <div class="col">
          <img
            src="{% static 'img/fourth_review.jpg' %}"
            id="review_img"
            alt="fourth_review_client_photo"
          />
          <h2>Rebecca</h2>
          <p class="review-statement">
            Engage Fitness was referred to myself by one of my friends. From the
            beginning my workouts at home with engage fitness was the perfect
            solution for me. Its very professional. Its encouraged me to do more
            in my own time and between seeing my own clients for work.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock content %}
